<div class="col">
  <div class="card h-100">
    <img
      src="https://xivapi.com/{{item.Icon}}"
      class="card-img-top"
      style="max-width:70px; margin: 0 auto"
      alt="Icon for {{item.Name}}"
    />
    <div class="card-body">
      <h5 class="card-title">{{item.Name}}</h5>
      <h6>ID::{{item.externalId}}</h6>
      <p class="card-text">{{item.Rarity}}</p>
      {{item.Description}}
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago OR LAST COMMENT ADDED</small>
    </div>
  </div>
</div>