<div class="col">
  <div class="card h-100">
    <img
      src="https://xivapi.com/{{Icon}}"
      class="card-img-top"
      style="max-width:70px; margin: 0 auto"
      alt="Icon for {{Name}}"
    />
    <div class="card-body">
      <h5 class="card-title">{{Name}}</h5>
      <h6>ID::{{externalId}}</h6>
      <h6>Kind::{{ItemKind.Name}} </h6>
      <p class="card-text">{{Description}}</p>
      {{Description}}
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago OR LAST COMMENT ADDED</small>
    </div>
  </div>
</div>