<a href="/item/{{item._id}}">

  <div class="item-card shadow col">
    <div class="card h-100">
      <img
        src="https://xivapi.com/{{item.IconHD}}"
        class="shadow-sm card-img-top mb-3 mt-3 ms-auto me-auto w-25 border border-1 border-dark rounded"
        alt="Icon for {{item.Name}}"
      />
      <div class="card-body p-1 m-2">
        <h5
          style="font-family:Georgia, Times New Roman"
          class="card-title"
        >{{item.Name}}</h5>
        <h6 style="font-family:Georgia, Times New Roman">{{item.ItemKind.Name}}
        </h6>
        <p style="font-family:Georgia, Times New Roman" class="card-text"><i
          >{{{item.Description}}}</i></p>
      </div>

    </div>
  </div>
</a>