<h1>Item Details</h1>
<h2>Name : {{data.Name}}</h2>
<img src="https://xivapi.com/{{data.IconHD}}" alt="Icon of {{data.Name}}" />
<h3>ID :{{data.externalId}} </h3>
<h3>Kind Of Item :{{data.ItemKind.Name}} </h3>
<h3>Search Category :{{data.ItemSearchCategory.Name}} </h3>
<h3>Level Equip :{{data.LevelEquip}} </h3>
<h3>Level Item :{{data.LevelItem}} </h3>
<h3>Rarity :{{data.Rarity}} </h3>
<h3>Description :{{{data.Description}}} </h3>

{{#if comment}}
  {{#each comment}}
    <h1>{{author}}</h1>
    <p>{{message}}</p>
  {{/each}}
{{else}}
  <h1>No comment here!</h1>
{{/if}}

<form method="POST" action="/comment/item/{{data._id}}">
  <textarea
    id="input-message"
    placeholder="Comment message here..."
    name="message"
  ></textarea>

  <button class="btn btn-primary">Add Comment</button>
</form>