<div class="d-flex justify-content-center">
  <div class="col col-lg-4 mb-3">
    <h3
      class="shadow character-details border border-dark rounded-3 ps-3 mb-3"
      style="font-family:Georgia, Times New Roman"
    >{{data.Name}}</h2>
    <img
      class="border border-2 border-dark rounded-5 shadow"
      src="https://xivapi.com/{{data.IconHD}}"
      alt="Icon of {{data.Name}}"
    />
  </div>
  <div class="ps-3 col col-lg-8 mb-0">
    <h3
      style="font-family:Georgia, Times New Roman"
      class="mb-2 shadow character-details border border-dark rounded ps-3"
    ><i>Item Type: </i></h3><h4
      class="p-1 shadow character-details border border-dark rounded ps-3"
      style="font-family:Georgia, Times New Roman"
    >{{data.ItemKind.Name}} </h4>
    <h3
      style="font-family:Georgia, Times New Roman"
      class="mb-2 shadow character-details border border-dark rounded ps-3"
    ><i>Level Equip: </i></h3><h4
      class="p-1 shadow character-details border border-dark rounded ps-3"
      style="font-family:Georgia, Times New Roman"
    >{{data.LevelEquip}} </h4>
    <h3
      style="font-family:Georgia, Times New Roman"
      class="mb-2 shadow character-details border border-dark rounded ps-3"
    ><i>Level Item: </i></h3><h4
      class="p-1 shadow character-details border border-dark rounded ps-3"
      style="font-family:Georgia, Times New Roman"
    >{{data.LevelItem}} </h4>
    <h3
      style="font-family:Georgia, Times New Roman"
      class="mb-2 shadow character-details border border-dark rounded ps-3"
    ><i>Rarity: </i></h3><h4
      class="p-1 shadow character-details border border-dark rounded ps-3"
      style="font-family:Georgia, Times New Roman"
    >{{data.Rarity}} </h4>
    <h3
      style="font-family:Georgia, Times New Roman"
      class="mb-2 shadow character-details border border-dark rounded ps-3"
    ><i>Description: </i></h3><h4
      class="p-1 shadow character-details border border-dark rounded ps-3 pt-4 pb-4"
      style="font-family:Georgia, Times New Roman"
    >{{{data.Description}}} </h4>
  </div>
</div>

<hr class="mt-5" />
<div>
  <h1 style="font-family:Georgia, Times New Roman">Posts:</h1>
</div>
  <div class="d-flex w-100">
    <div class="shadow col-sm-12 col-md-8 col-xl-8 card mb-3 p-3">
      {{#if isOwn}}
        <a href="/profile/{{_id}}/edit" class="btn btn-primary">Edit</a>
      {{/if}}

      {{#if commentWithIsOwnedInfo}}
        {{#each commentWithIsOwnedInfo}}
          <div class="d-flex">
          {{#if author}}
          <img class="comment-avatar border border-2 border-dark rounded shadow" src="{{author.avatar}}" alt="">
          <h3 class="ms-3 mb-0 mt-0 p-0">{{author.inGameName}}</h3> 
            {{#if isOwnComment}}
            <form class="mb-0 ms-auto" method="post" action="/comment/{{_id}}/delete"><button class="btn btn-outline-danger">Delete</button></form>
            {{/if}}
          {{else}}
          <h3 class="ms-3 mb-0 mt-0 p-0">Deleted User</h3>
        {{/if}}
        
        </div>
        <div class="mt-3">
          <p class="">{{message}}</p>
        </div>
        <hr>
        {{/each}}
      {{else}}
        <h1>No comment here!</h1>
      {{/if}}
    </div> 
  {{#if user}}
    <div class="ps-3 col-6 col-md-4 col-xl-4 h-25">
      <form class="shadow p-3 card form-control" method="POST" action="/comment/item/{{data._id}}">
        <textarea
        class="rounded mb-3"
          id="input-message"
          placeholder="Comment message here..."
          name="message"
        ></textarea>

        <button class="btn btn-dark">Add Comment</button>
      </form>
    </div>
  {{/if}}
</div>