  <div
    class="shadow-sm input-sign-up border border-light bg-light rounded p-4 me-auto ms-auto col-6 col-sm-8 col-xl-4 mt-5"
  >
  <h3>Edit your profile:</h3>
    <form class="needs-validation" action="/profile/edit" method="POST">
      <div class="mb-3">
        <label for="input-name">Full Name:<span style="color: red;">*</span>
        </label>
        <input
          type="text"
          class="shadow-sm form-control"
          id="input-name"
          aria-describedby="fullName"
          name="fullName"
          value="{{profile.fullName}}"
          required
        />
      </div>

      <div class="mb-3">
        <label for="input-inGameName" class="form-label">In-Game Name:</label>
        <input
          type="text"
          class="shadow-sm form-control"
          id="input-inGameName"
          aria-describedby="inGameName"
          name="inGameName"
          value="{{profile.inGameName}}"
        />
      </div>

      <div class="mb-3">
        <label for="input-worldServer" class="form-label">Your Character's World
          Server:</label>
        <select
          class="shadow-sm form-control"
          id="input-worldServer"
          aria-describedby="worldServer"
          name="worldServer"
        >
          <option
            value="{{profile.worldServer}}"
          >{{profile.worldServer}}</option>
          {{#each worldServers}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>
      <div class="mb-3">
        <label for="input-nationality" class="form-label">Your Nationality:</label>
        <select
          class="shadow-sm form-control"
          id="input-nationality"
          aria-describedby="nationality"
          name="nationality"
        >
          <option
            value="{{profile.nationality}}"
          >{{profile.nationality}}</option>
          {{#each countries}}
            <option value="{{name}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
      <button type="submit" class="shadow-sm mt-3 btn btn-dark">Edit</button>
    </form>
  </div>
</div>