<div class="d-flex justify-content-center">
  <div class="col col-sm-6 col-lg-4 mb-3">
    <img class="border border-2 border-dark rounded shadow" src="{{character.portrait}}" alt="{{character.name}}">
  </div>
  <div class="ps-3 col col-sm-6 col-lg-8">
    <h2 class="ps-3 mb-1" style="font-family:Georgia, Times New Roman">Your character details:</h2>
    <hr class="mt-1">
    <h4 style="font-family:Georgia, Times New Roman" class="p-1 shadow character-details border border-dark rounded ps-3"><i>Your character name:</i></h4><h2 class="shadow character-details border border-dark rounded ps-3" style="font-family:Georgia, Times New Roman">{{character.name}}</h2>
    <h4 style="font-family:Georgia, Times New Roman" class="p-1 shadow character-details border border-dark rounded ps-3"><i>Your current world server:</i></h4><h2 class="shadow character-details border border-dark rounded ps-3" style="font-family:Georgia, Times New Roman">{{user.worldServer}}</h2>
  </div>
</div>
<div>
  <h1 class="mb-1" style="font-family:Georgia, Times New Roman">Your equipment:</h1>
  <hr class="mt-1">
</div>
<div class="row row-cols-1 row-cols-md-6 mb-3 g-4">
  {{#each character.gear}}
        {{> gear}}
  {{/each}}
</div>

{{#if isOwn}}
  <a href="/profile/{{_id}}/edit" class="btn btn-primary">Edit</a>
{{/if}}


{{#if comment}}
  {{#each comment}}
    <h1>{{author}}</h1>
    <p>{{message}}</p>
  {{/each}}
{{else}}
  <h1>No comment here!</h1>
{{/if}}

<form method="POST" action="/comment/profile/{{user._id}}">
  <textarea
    id="input-message"
    placeholder="Comment message here..."
    name="message"
  ></textarea>

  <button class="btn btn-primary">Add Comment</button>
</form>