<h1>Hello World</h1>

<h2>Profile Page</h2>
<h2>FullName: {{user.fullName}}</h2>
<h2>inGameName: {{user.inGameName}}</h2>
<h2>worlServer: {{user.worlServer}}</h2>
<h2>characterName: {{character.name}}</h2>

<h2>image</h2>

<h2>Gear</h2>
<h3>Head</h3>
<h3>Earrings: {{character.gear.Earrings}}</h3>
<h3>Body:{{character.gear.Body}}</h3>
<h3>Arms</h3>
<h3>Legs</h3>
<h3>Feet</h3>