<div class="d-flex justify-content-center">
  <div class="col col-sm-6 col-lg-4 mb-3">
    <img class="border border-2 border-dark rounded shadow" src="{{character.portrait}}" alt="{{character.name}}">
  </div>
  <div class="ps-3 col col-sm-6 col-lg-8">
    <h2 class="ps-3 mb-1" style="font-family:Georgia, Times New Roman">Your character details:</h2>
    <hr class="mt-1">
    <h4 style="font-family:Georgia, Times New Roman" class="p-1 shadow character-details border border-dark rounded ps-3"><i>Your character name:</i></h4><h2 class="shadow character-details border border-dark rounded ps-3" style="font-family:Georgia, Times New Roman">{{character.name}}</h2>
    <h4 style="font-family:Georgia, Times New Roman" class="p-1 shadow character-details border border-dark rounded ps-3"><i>Your current world server:</i></h4><h2 class="shadow character-details border border-dark rounded ps-3" style="font-family:Georgia, Times New Roman">{{user.worldServer}}</h2>
  </div>
</div>
<div>
  <h1 style="font-family:Georgia, Times New Roman">Your equipment:</h1>
  <hr>
</div>
<div class="row row-cols-1 row-cols-md-6 mb-3 g-4">
  {{#each character.gear}}
        {{> gear}}
  {{/each}}
</div>

{{!-- 
<h2>Gear:</h2>
<h3>Head:{{character.gear.Head}}</h3>
<h3>Earrings: {{character.gear.Earrings}}</h3>
<h3>Body: {{character.gear.Body}}</h3>
<h3>Bracelets: {{character.gear.Bracelets}}</h3>

<h3>Legs:{{character.gear.Legs}}</h3>
<h3>Feet:{{character.gear.Feet}}</h3>
<h3>Hands:{{character.gear.Hands}}</h3>
<h3>MainHead:{{character.gear.MainHead}}</h3>
<h3>Necklace:{{character.gear.Necklace}}</h3>
<h3>Ring1:{{character.gear.Ring1}}</h3>
<h3>Ring2:{{character.gear.Ring2}}</h3>
<h3>SoulCrystal:{{character.gear.SoulCrystal}}</h3> --}}